@import "variables";
@import "switcher-theme";

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    padding: 2rem;
    color: $dark;
}

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($dark, .2);
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transition: $transition;
    z-index: 999;

    &.active{
        opacity: 1;
        pointer-events: all;
    }

    .modal{
        min-width: 365px;
        max-width: 600px;
        max-height: 80vh;
        overflow: auto;
        background-color: white;
        border: 3px solid $dark;
        padding: 2rem;
        position: relative;
        word-break: break-all;
        
        .modal__title{
            font-size: 2rem;
            line-height: 1.2;
            margin-bottom: 1rem;
            max-width: 85%;
            color: $dark;
        }

        .modal__body{
            color: $dark;
        }

        .modal__btn{
            position: absolute;
            top: .5rem;
            right: .5rem;
            color: $dark;
            font-size: 2rem;
            line-height: 2rem;
            height: 40px;
            width: 40px;
            cursor: pointer;
            border: 3px solid $dark;
            border-radius: 50%;
            background-color: white;
            box-shadow: $boxs rgba($dark, .2);
            transition: $transition;

            &:hover, &:focus{
                outline: none;
                border: 3px solid $light;
                color: $light;
                box-shadow: none;
            }
        }
    }
}

.form-container{
    max-width: 1000px;
    margin: 1rem auto;

    h1{
        font-size: 3rem;
        text-align: center;
    }

    h3{
        color: $success;
        text-align: center;
    }

    .message{
        margin: 1rem 0 1.5rem;
        color: white;
        padding: 1rem;
        text-align: center;

        &.success-message{
            background-color: $success;
            box-shadow: 2px 4px 7px 2px rgba($success, .2);
        }

        &.remove-message{
            background-color: $primary;
            box-shadow: 2px 4px 7px 2px rgba($primary, .2);
        }

        &.alert-message{
            background-color: $danger;
            box-shadow: 2px 4px 7px 2px rgba($danger, .2);
        }
    }
}

form{
    display: grid;
    grid-gap: 1rem;
    margin: 1rem 0;
    width: 100%;

    label, input, textarea{
        font-family: inherit;
        font-size: inherit;
        resize: none
    }

    [for="title"], [for="note"]{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem;
        grid-gap: 1rem;
        background-color: rgba($light, .2);
        font-weight: bold;

        input, textarea{
            flex: 1 1 80%;
            border: 3px solid $light;
            padding: .5rem;
            color: $dark;
            width: 100%;

            &:focus{
                border-color: $dark;
            }
        }
    }

    [type="submit"]{
        background-color: $success;
        box-shadow: $boxs rgba($success, .2);
        border: 3px solid transparent;
        font-size: 1.3rem;
        color: white;
        padding: .5rem;
        cursor: pointer;
        transition: $transition;
        -webkit-appearance: none;

        &:hover, &:focus{
            filter: brightness(1.1);
        }
    }
}

.note-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    grid-gap: 1.5rem;
    margin: 1rem 0;

    @media screen and (max-width: 768px){
        .note-container{
            grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
        }
    }

    .note{
        display: flex;
        flex-direction: column;
        border: 3px solid rgba($dark, .2);
        padding: 1.5rem;
        transition: $transition;
        word-break: break-all;
        background-color: white;

        .note__title{
            font-size: 2rem;
            margin-bottom: .5rem;
            color: $dark;
        }
    
        .note__body{
            overflow: hidden;
            max-height: 8rem;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 4;
            color: $dark;
        }
    
        .note__btns{
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: .5rem;
            margin-top: auto;
    
            .note__btn{
                font-family: inherit;
                font-size: inherit;
                padding: .5rem 1rem;
                margin-top: 1.5rem;
                color: white;
                cursor: pointer;
                transition: $transition;
                white-space: nowrap;
    
                &:focus, &:hover{
                    box-sizing: none;
                    filter: brightness(1.1);
                }
            }
    
            .note__view{
                background-color: $primary;
                box-shadow: $boxs rgba($primary, .2);
            }
    
            .note__delete{
                background-color: $danger;
                box-shadow: $boxs rgba($danger, .2);
            }
        }
    }
}


// Medias Queries

@media screen and (max-width: 768px){
    .note-container{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}