.toggle-control {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.toggle-control input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle-control input:checked ~ .control {
  background-color: #33ca7f;
}

.toggle-control input:checked ~ .control:after {
  left: 30px;
}

.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 50px;
  border-radius: 12.5px;
  background-color: darkgray;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 12.5px;
  background: white;
  -webkit-transition: left 0.15s ease-in;
  transition: left 0.15s ease-in;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #121614;
}

.modal-container {
  position: fixed;
  inset: 0;
  background-color: rgba(18, 22, 20, 0.2);
  display: -ms-grid;
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  z-index: 999;
}

.modal-container.active {
  opacity: 1;
  pointer-events: all;
}

.modal-container .modal {
  min-width: 365px;
  max-width: 600px;
  max-height: 80vh;
  overflow: auto;
  background-color: white;
  border: 3px solid #121614;
  padding: 2rem;
  position: relative;
  word-break: break-all;
}

.modal-container .modal .modal__title {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  max-width: 85%;
  color: #121614;
}

.modal-container .modal .modal__body {
  color: #121614;
}

.modal-container .modal .modal__btn {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: #121614;
  font-size: 2rem;
  line-height: 2rem;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: 3px solid #121614;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.modal-container .modal .modal__btn:hover, .modal-container .modal .modal__btn:focus {
  outline: none;
  border: 3px solid #A4B1AA;
  color: #A4B1AA;
}

.form-container {
  max-width: 1000px;
  margin: 1rem auto;
}

.form-container h1 {
  font-size: 3rem;
  text-align: center;
}

.form-container h3 {
  color: #33CA7F;
  text-align: center;
}

.form-container .message {
  margin: 1rem 0 1.5rem;
  color: white;
  padding: 1rem;
  text-align: center;
}

.form-container .message.success-message {
  background-color: #33CA7F;
}

.form-container .message.remove-message {
  background-color: #446DF6;
}

.form-container .message.alert-message {
  background-color: #E01541;
}

form {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  margin: 1rem 0;
  width: 100%;
}

form label, form input, form textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

form [for="title"], form [for="note"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  grid-gap: 1rem;
  background-color: rgba(164, 177, 170, 0.2);
  font-weight: bold;
}

form [for="title"] input, form [for="title"] textarea, form [for="note"] input, form [for="note"] textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
  border: 3px solid #A4B1AA;
  padding: .5rem;
  color: #121614;
  width: 100%;
}

form [for="title"] input:focus, form [for="title"] textarea:focus, form [for="note"] input:focus, form [for="note"] textarea:focus {
  border-color: #121614;
}

form [type="submit"] {
  background-color: #33CA7F;
  border: 3px solid transparent;
  font-size: 1.3rem;
  color: white;
  padding: .5rem;
  cursor: pointer;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-appearance: none;
}

form [type="submit"]:hover, form [type="submit"]:focus {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.note-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 0.5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  grid-gap: 1.5rem;
  margin: 1rem 0;
}

@media screen and (max-width: 768px) {
  .note-container .note-container {
    -ms-grid-columns: (minmax(300px, 0.5fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  }
}

.note-container .note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid rgba(18, 22, 20, 0.2);
  padding: 1.5rem;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  word-break: break-all;
  background-color: white;
}

.note-container .note .note__title {
  font-size: 2rem;
  margin-bottom: .5rem;
  color: #121614;
}

.note-container .note .note__body {
  overflow: hidden;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  color: #121614;
}

.note-container .note .note__btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: .5rem;
  margin-top: auto;
}

.note-container .note .note__btns .note__btn {
  font-family: inherit;
  font-size: inherit;
  padding: .5rem 1rem;
  margin-top: 1.5rem;
  color: white;
  cursor: pointer;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  white-space: nowrap;
}

.note-container .note .note__btns .note__btn:focus, .note-container .note .note__btns .note__btn:hover {
  -webkit-box-sizing: none;
          box-sizing: none;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.note-container .note .note__btns .note__view {
  background-color: #446DF6;
}

.note-container .note .note__btns .note__delete {
  background-color: #E01541;
}

@media screen and (max-width: 768px) {
  .note-container {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
/*# sourceMappingURL=style.css.map */